<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>527479554043-668vdg6p3flvg8bdtrok13irp17jkbtt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527479554043-668vdg6p3flvg8bdtrok13irp17jkbtt</string>
	<key>API_KEY</key>
	<string>AIzaSyCJjXrLzntEsUZWKnKLbQgjJLOgeQzIOZE</string>
	<key>GCM_SENDER_ID</key>
	<string>527479554043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rubiesproject.AfricanStories</string>
	<key>PROJECT_ID</key>
	<string>storiesdev-21e8b</string>
	<key>STORAGE_BUCKET</key>
	<string>storiesdev-21e8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527479554043:ios:a368aef204f86935</string>
	<key>DATABASE_URL</key>
	<string>https://storiesdev-21e8b.firebaseio.com</string>
</dict>
</plist>